body{
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.5;
}

header{
    max-width: 100%;
    font-family: sans-serif;
}

header p{
    text-align: justify;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.img-foto{
    border-radius: 5px;
    margin: auto;
    display: flex;
    padding: 10px;
    background-color: rgb(43, 42, 42);
}

footer{
    header{
    width: 100%;
    font-family: sans-serif;
    text-align: center;
}