body{
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
}

header{
    max-width: 90%;
    font-family: sans-serif;
    padding: 30px;
    margin: 20px;
    background-color: rgba(19, 19, 19, 0.89);
    border-radius: 8px;
}

header p{
    text-align: justify;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

span{
    padding: 3px;
    border: 1px solid rgb(77, 124, 212);
    border-radius: 5px;
    background-color: cornflowerblue;
}

.img-foto{
    border-radius: 5px;
    margin: auto;
    display: flex;
    padding: 10px;
    background-color: rgb(43, 42, 42);
}

footer{
    width: 90%;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
    margin: 20px;
    background-color: rgba(19, 19, 19, 0.89);
}