*{
    margin: 0;
    padding: 0;
}

header{
    max-width: 90%;
    font-family: sans-serif;
    padding: 30px;
    margin: 20px;
    background-color: rgba(19, 19, 19, 0.89);
    border-radius: 8px;
}

header p{
    text-align: justify;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

span{
    padding: 10px;
    border: 1px solid rgb(77, 124, 212);
    border-radius: 5px;
    background-color: cornflowerblue;
    margin: 15px;
}

body{
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
}

main{
    max-width: 90%;
    text-align: justify;
    font-family: sans-serif;
    padding: 30px;
    margin: 20px;
    background-color: rgba(19, 19, 19, 0.89);
    border-radius: 8px;
    line-height: 2.0;
}

section{
        display : flex;
        justify-content: center;
}

div {
  padding: 5px;
  margin: 10px;
}

h2{
    line-height: 2em;
}
 
.img-foto{
    border-radius: 5px;
    margin: auto;
    display: flex;
    padding: 10px;
    background-color: rgb(43, 42, 42);
}

span a {
    border: solid gray;
    border-radius: 6px;
    margin: 20px;
    padding: 1em;
    width: 250px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    justify-content: center;
}

footer{
    max-width: 90%;
    font-family: sans-serif;
    text-align: left;
    padding-left: 30px;
    margin: 20px;
    background-color: rgba(19, 19, 19, 0.89);
    border-radius: 8px;
}

div{
    text-align: center;
}

@media (max-width: 768px) {
  /* Estilos aplicados a telas com largura até 768px (como tablets e celulares) */

.habilidades{
    display: block;     /* faz o span ocupar toda a linha */
    margin-right: 0;    /* remove o espaço lateral */
    margin-bottom: 8px;
}
}